.about-home-section {
    background-image: url("../../assets/images/commons/aboutBk.png");
    background-size: 100% 100%;
    line-height: 1.3;
    padding: 100px 12px 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;

        .paragraph {
            gap: 47px;

            &>div {
                width: 50%;
            }
        }

        .about-analysis {
            width: 100%;
            gap: 40px;
            margin-bottom: 80px;
            justify-content: space-between;
        }

        .about-content {
            .about-home-f-img {
                width: 60%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                @media (max-width: 992px) {
                    width: 100%;
                }
            }

            .about-home-s-container {
                flex-direction: column;
                width: 40%;
                gap: 32px;

                .title {
                    text-align: left;
                }

                .about-home-s-img {
                    width: 100%;
                    border-radius: 24px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                @media (max-width: 992px) {
                    width: 100%;
                    gap: 8px;
                }
            }
        }

        .analysis-bk {
            background-image: url("../../assets/images/commons/Ellipse 2522.png");
            background-size: 100% 100%;
            position: absolute;
            bottom: -145px;
            left: 39px;
            max-width: 486px;
            width: 100%;
            height: 346px;

            @media (max-width: 600px) {
                left: 0;
            }
        }
    }
}

.about-how-section {
    background-color: black;
    padding: 120px 12px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        gap: 40px;

        .how-container {
            width: 100%;
            flex-direction: column;
            gap: 40px;

            .how-progress {
                width: 100%;
                position: relative;

                .progress-prev-circle {
                    display: none;
                    position: absolute;
                    top: 50%;
                    transform: translate(30px, -50%);

                    img {
                        width: 96px;
                    }
                }

                .progress-prev-circle.active {
                    display: block;
                }

                .progress-range-slider::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    background: transparent;
                    background-size: 100% 100%;
                    width: 154px;
                    height: 154px;
                    cursor: pointer;
                }

                .progress-circle {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    background: url("../../assets/images/progress-circle.svg");
                    background-size: 100% 100%;
                    width: 154px;
                    height: 154px;
                    border: none;
                    cursor: pointer;
                    z-index: 2;
                }

                .progress-range-slider {
                    width: 100%;
                    -webkit-appearance: none;
                    appearance: none;
                    background: transparent;
                    outline: none;
                    position: relative;
                    z-index: 10;
                }

                .progress-line {
                    background: linear-gradient(90deg, #71EA9F 0%, #A16FF6 100%);
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    top: 50%;
                    z-index: 1;
                    transform: translate(0, -50%);
                }
            }

            .how-steps {
                gap: 56px;
                overflow-x: auto;

                .process-step {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    opacity: 0.3;
                    min-width: 250px;
                }

                .process-step.active {
                    opacity: 1;
                }
            }
        }
    }
}

.about-card {
    display: flex;
    flex-direction: column;
    width: calc(50% - 12px);

    .border {
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(90deg, #71EA9F 0%, #A16FF6 100%);
        border: 1px solid;
        border-image-source: linear-gradient(90deg, #71EA9F 0%, #A16FF6 100%);
        margin: 9px 0 40px;
    }
}

.desktop-hidden {
    display: none;
}

@media(max-width: 1250px) {
    .about-how-section {
        padding: 120px 32px;

        .container {
            padding: 0 !important;
        }
    }
}

@media(max-width:992px) {
    .about-home-section {
        padding-top: 200px;

        .container {
            .about-content {
                flex-direction: column-reverse;
            }

            .paragraph {
                gap: 24px;
                flex-direction: column;

                &>div {
                    width: 100%;
                }
            }

            .about-analysis {
                column-gap: 24px;
                row-gap: 40px;
                flex-wrap: wrap;
                margin: 40px 0;
            }

            .about-card {
                .border {
                    margin: 9px 0 24px;
                }
            }
        }
    }

    .about-how-section {
        padding-top: 80px;

        .container {
            .how-container {
                .how-steps {
                    gap: 40px;
                }
            }
        }
    }

    .desktop-hidden {
        display: block;
    }

    .mobile-hidden {
        display: none;
    }
}

@media (max-width: 768px) {
    .about-how-section {
        padding-left: 16px;
        padding-right: 16px;

        .container {
            .how-container {
                .how-progress {

                    .progress-range-slider::-webkit-slider-thumb {
                        width: 96px;
                        height: 96px;
                        background: url("../../assets/images/progress-circle.svg");
                        background-size: cover;
                    }

                    .progress-circle {
                        display: none;
                    }

                    .progress-line {
                        height: 2px;
                        top: calc(50% - 2px);
                    }

                    .progress-prev-circle {
                        transform: translate(0, -50%);
                        display: none !important;

                        img {
                            width: 56px;
                            height: 56px;
                        }
                    }
                }
            }
        }
    }
}