.privacy-terms {
    .container {
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 100px;
        .fs-b{
            color: #ffffffaa !important;
        }
    };
    
}
