.project-list {
    background-image: url("../../assets/images/service-bg.svg");
    background-size: cover;
    background-position: top;
    .container {
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
        gap: 50px;
        .project-card-content{
            text-align: left;
        }
    };
    
}
@media (max-width:900px) {
    .project-list {
        background-image: url("../../assets/images/service-bg-md.svg");
    }
    .service-card{
        padding:10px !important;
    }    
    .container {
        padding: 5px !important;
    }
}
@media (max-width:400px) {
    .project-list {
        background-image: url("../../assets/images/service-bg-sm.svg");
    }
    .service-card{
        padding:10px !important;
    } 
    .container {
        padding: 5px !important;
    }
}