.service-list {
    background-image: url("../../assets/images/service-bg.svg");
    background-size: cover;
    background-position: top;
    .container {
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
        gap: 50px;
        .service-card{
            padding:80px
        }    
    };
    
}