.detail-section {
    background-image: url("../../assets/images/service-bg.svg");
    background-size: cover;
    background-position: top;
    .detail-container {
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
        gap: 50px;
        .service-card{
            padding:80px
        }    
    };
    .detail {
        display: flex;

    }
    .technical-title{
        position: relative;
        margin-top: 50px;
        margin-bottom: 50px;
        img {
            width: 195px;
            position: absolute;
            top: -60px;
        }
    }
    
}
.service-content{
    max-width: 795px;
    margin-left: auto;
    margin-right: auto;
}
.detail-logo{
    background-image: url("../../assets/logos/service-sub-bg.svg");
    width: 373px;
    height: 353px;
    position: relative;
    img{
        position: absolute;
        bottom: 65px;
        width: 155px;
        height: 155px;
        right: 75px;
    }
}
.detail-content{
    text-align: left;
    max-width: 575px;
    padding-left: 50px;
}