body.modal-open {
  overflow: hidden;
}

.core-team-section {
  background: #000;
  position: relative;
  overflow: hidden;
  padding: 208px 0 120px;

  .team-members-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    padding-top: 40px;
    gap: 40px;

    @media(max-width:992px) {
      column-gap: 24px;
    }

    @media(max-width:600px) {
      flex-direction: column;
    }

    .team-member-card {
      background: #111;
      padding: 16px;
      border-radius: 16px;
      box-shadow: 2px 4px 0px 0px rgba(113, 234, 159, 0.20);

      &:hover {
        box-shadow: 2px 4px 0px 0px #71EA9F;
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .team-member-name {
        padding-top: 8px;
        text-align: left;
      }

      .team-member-role {
        text-align: left;
      }

      .social-links {
        display: flex;
        align-items: center;
        gap: 24px;

        a:hover {
          color: #71EA9F;
        }
      }
    }
  }

  .team-section-bg-l {
    position: absolute;
    bottom: 0;
    right: 50%;
  }

  .team-section-bg-r {
    position: absolute;
    top: 0;
    left: 50%;
  }

  .modal-overlay {
    .modal-content {
      padding: 31px;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      .wrapper {
        display: flex;
        gap: 20px;

        .details {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }

        img {
          width: 100%;
          max-width: 250px;
        }
      }

      .social-links {
        display: flex;
        align-items: center;
        gap: 16px;

        a:hover {
          color: #71EA9F;
        }
      }

      .member-about-section p {
        text-align: left;
        margin-top: 16px;
        margin-bottom: 4px;
      }

      hr {
        background: rgba(255, 255, 255, 0.10);
        border: none;
        width: 100%;
        height: 1px;
        opacity: 1;
      }

      .technology-stack {
        .technology-stack-container {
          padding-top: 16px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 16px;

          .tech-item {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }

      @media (max-width: 992px) {
        padding: 16px;
      }

      @media (max-width: 600px) {
        .wrapper {
          flex-direction: column;
          align-items: center;

          .details {
            width: 100%;

            h4.fs-c {
              text-align: left;
            }
          }
        }
      }
    }
  }
}