body.modal-open {
  overflow: hidden;
}

.core-team-section {
  background: #000;
  margin-top: -72px;
  padding: 208px 0 120px;

  .team-members-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 40px;

    @media(max-width:992px) {
      column-gap: 24px;
    }

    @media(max-width:600px) {
      flex-direction: column;
    }

    .team-member-card {
      background: #111;
      padding: 16px;
      border-radius: 16px;
      box-shadow: 2px 4px 0px 0px rgba(113, 234, 159, 0.20);

      &:hover {
        box-shadow: 2px 4px 0px 0px #71EA9F;
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .team-member-name {
        padding-top: 8px;
        text-align: left;
      }

      .team-member-role {
        text-align: left;
      }

      .social-links {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1021;
    background: rgba(17, 17, 17, 0.40);
    backdrop-filter: blur(5px);
    padding: 16px;

    .modal-content {
      border-radius: 16px;
      padding: 24px;
      background-color: #111;
      max-width: 580px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .wrapper {
        display: flex;
        gap: 20px;

        .details {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }

        img {
          width: 100%;
          max-width: 250px;
        }
      }

      .social-links {
        display: flex;
        align-items: center;
        gap: 16px;
      }

      .member-about-section p {
        text-align: left;
        margin-top: 16px;
        margin-bottom: 4px;
      }

      hr {
        background: rgba(255, 255, 255, 0.10);
        border: none;
        width: 100%;
        height: 1px;
        opacity: 1;
      }

      .technology-stack {
        .technology-stack-container {
          padding-top: 16px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 16px;

          .tech-item {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }

      .close-button {
        position: absolute;
        top: 16px;
        right: 16px;
        border: none;
        background: none;
        cursor: pointer;
      }

      @media (max-width: 992px) {
        padding: 16px;
      }

      @media (max-width: 600px) {
        .wrapper {
          flex-direction: column;
          align-items: center;

          .details {
            width: 100%;

            h4.fs-c {
              text-align: left;
            }
          }
        }
      }
    }
  }
}