.color-primary{
    color: linear-gradient(90deg, #71EA9F 0%, #A16FF6 100%);
}

.color-secondary1{
    background: #71EA9F;
}
.color-secondary2{
    background: #A16FF6;
  }
.color-info {
    background: #A0C3FF;
}
.color-success{
    background: #76CA66;
}
.color-warning{
    background: #FBC756;
}
.color-error{
    background: #BA0000;
}
.color-black{
    color: linear-gradient(0deg, #000000, #000000);
}
.color-gray1{
    color: #041B0D;
}
.color-gray3{
    color: #4B5563;
}
.color-gray4{
    color: #6B7280;
}
.color-gray5{
    color: #00000066;
}
.color-gray6{
    color: #D1D5DB;
}
.color-gray7{
    color: #F3F4F6;
}
.color-white{
    color: #FFFFFF;
}
