.home-section{
    background-image: url("../assets/images/home-bg.svg");
    background-size: cover;
    min-height: 780px;
    line-height: 1.3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
  .container{
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
  }
}
.home-title{
  background: -webkit-linear-gradient(0deg, #71EA9F 0%, #A16FF6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-detail{
  max-width: 790px;
}
.home-buttons{
    display: flex;
    gap: 1px;
    margin-top: 40px;
}
.home-footer{
    max-width: 650px;
    margin-top: 50px;
    .d-flex{
        display: flex;
        gap: 20px;
        justify-content: space-around;
        margin-top: 30px;
        flex-wrap: wrap;
    }
}


.about-section{
    background-image: url("../assets/images/why-bg.svg");
    background-color: black;
    background-size: cover;
    min-height: 615px;
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
        position: relative;
        margin: auto;
    }
}
.about-img {
    padding: 10px;
    img{
        width: 100%;
    }
}
.about-content {
  text-align: left;
}
.service-section, .project-section{
  background-color: black;
  .container{
      padding: 100px;
      .d-flex{
          justify-content: space-between;
      }
  }
}
.service-all, .project-all{
  margin-bottom: 0;
  margin-top: auto;
  text-align: right;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}
.service-detail >div, .project-detail>div {
  text-align: left;
}
.service-card{
  background-image: url("../assets/images/service-card-bg.svg");
  background-size: cover;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0px 0px 22px 0px rgba(113, 234, 159, 0.2);
  height: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  position: relative;
  &:hover {
    box-shadow: 0px 0px 32px 0px rgba(113, 234, 159, 0.2);
  }
  .service-card-image{
    text-align: left;
  }
  img {
      width: 56px;
  }
  
}
.service-card-right{
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.card-row{
  width: 50%;
  margin-top: 50px;
}
.tab-container{
    display: flex;
    flex-direction: row;
}
.startup-section{
    background-image: url("../assets/images/startup-bg.svg");
    background-size: cover;
    min-height: 370px;
    line-height: 1.3;
    background-position: center;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
        max-width: 690px !important;
        min-height: 370px;
    }
}

.industry-section{
  margin-top: 50px;
  .container{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative;
      padding: 100px;
  }
  .circle-plus {
      position: absolute;
      top: 50px;
      left: 50px;
      width: 104px;
  }
  .industry-detail div{
      text-align: start;
  }

  .industry-content{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
  }
  .industry-type {
      border-radius: 81px;
      opacity: 80%;
      width: 225px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 30px;
      background: linear-gradient(90deg, #71EA9F 0%, #A16FF6 100%);
  }
}
.technology-section{
    background-position: bottom;
    background-image: url("../assets/images/tech-bg.svg");
    background-repeat: no-repeat;
    padding-top: 150px;

}
.tab-categories{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 30px;
    .tab-category{
        list-style-type: none;
        padding: 8px 16px 8px 16px;
        border-radius: 32px;
        gap: 10px;
        cursor: pointer;
    }
    .tab-category.active{
        background: linear-gradient(90deg, #71EA9F 0%, #A16FF6 100%);
        margin-top: auto;
        margin-bottom: auto;
    }
    
}
.tech-card{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.tech-card-content{
    min-height: 250px;
    .react-tabs{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .sub-category{
        cursor: pointer;
        list-style-type: none;
        min-width: 175px;
        text-align: right;
        margin: 20px;
    }
    .sub-category.active{
        background: -webkit-linear-gradient(90deg, #71EA9F 0%, #A16FF6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.logo-container{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    gap: 55px;
}
.why-section {
  background-image: url("../assets/images/why-bg.svg");
  background-size: cover;
  padding: 120px 0 120px 0;
  .container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .why-content{
      display: flex;
      justify-content: space-between;
      gap: 30px;
      max-width: 780px;
      flex-wrap: wrap;
  }
  .why-type{
      display: flex;
      flex-direction: row;
      border-radius: 24px;
      padding: 16px 12px 16px 12px;
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      width: 45%;
      .title {
          text-align: left;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 20px;
      }
  }
}

.project-card-image > img{
  width: 100%;
}
.review-section {
  position: relative;
  margin-top: 100px;
  .container{
      padding: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .review-detail{
          max-width: 530px;
          margin-top: 30px;
      }
  }
  .left-effect{
      position: absolute;
      left: 0;
      top: 30px;
      background-size: cover;
      width: 360px;
      height: 290px;
      img{
          width: 100%;
      }
  }
  .right-effect{
      position: absolute;
      right: 0;
      top: 30px;
      background-size: cover;
      width: 235px;
      height: 245px;
      img{
          width: 100%;
      }
  }
}
.review-card{
  border-radius: 16px;
  background-color: transparent;
  border: double 1px transparent;
  background-image: linear-gradient(black, black), radial-gradient(circle at top left, #71EA9F,#A16FF6);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: flex;
  min-width: 375px;
  min-height: 220px;
  gap: 5px;
  padding: 20px;
  cursor: pointer;
}
.review-content{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.review-card-image>img{
  width: 48px;
  height: 48px;
}
.review-card-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.review-card-link{
  text-decoration: none;
}
.review-card-link:hover{
  color: white;
}
.react-tabs__tab-list{
    display: flex;
    flex-direction: column;
}
@media (max-width:900px) {
    .home-section{
        background-image: url("../assets/images/home-bg-md.svg");
        .container{
            margin-top: 150px;
        }
    }
    .about-section{
        background-image: url("../assets/images/about-bg-md.svg");
    }
    .service-detail >div, .project-detail >div {
        text-align: center;
    }
    .service-section .container, .project-section .container{
        padding: 5px;
        .d-flex{
            justify-content: center;
        }
    }
    .service-card{
        flex-direction: column;
    }
    .service-card-right{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .service-all{
        display: none;
    }
    .technology-section{
        background-image: url("../assets/images/tech-bg-md.svg");
    }
    .startup-section{
        background-image: url("../assets/images/startup-bg-md.svg");
    }
    
    .industry-section {
        .container{
            flex-direction: column;
        }
        .industry-content{
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: center;
        }    
    }
    .tab-categories .tab-category{
        padding: 5px 5px 5px 5px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .tab-container{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .logo-container{
        justify-content: center;
    }
    .react-tabs__tab-list{
        flex-direction: row;
    }
    .sub-category{
        text-align: center !important;
    }
    .why-section{

        .why-content {
            justify-content: center;
        }
    }
    .why-type{
        flex-direction: column !important;
        .title{
            padding-top: 20px !important;
            text-align: center !important;
            margin: auto !important;
        }
    }
    .project-section>.container>.d-flex{
        flex-direction: column !important;
        .project-all{
            text-align: left;
            margin: 1.5rem;
        }
    }
}


@media (max-width:400px) {
    .home-section{
        background-image: url("../assets/images/home-bg-sm.svg");
    }
    .about-section{
        background-image: url("../assets/images/about-bg-sm.svg");
    }
    .service-detail >div {
        text-align: center;
    }
    .service-section .container{
        padding: 5px;
        .d-flex{
            justify-content: center;
        }
    }
    .service-card{
        flex-direction: column;
        
    }
    .service-card-right{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .service-all{
        display: none;
    }
    .technology-section{
        background-image: url("../assets/images/tech-bg-sm.svg");
    }
    .startup-section{
        background-image: url("../assets/images/startup-bg-sm.svg");
    }
    .industry-detail>div{
        text-align: center !important;
    }
    .card-row {
        width: 100%;
    }
    .tab-categories .tab-category{
        padding: 5px 5px 5px 5px;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .tab-container{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .logo-container{
        justify-content: center;
    }
    .react-tabs__tab-list{
        flex-direction: row;
    }
    .sub-category{
        text-align: center !important;
    }

    .industry-type {
        margin: 10px;
        width: 100%;
    }
    .why-section .why-content {
        justify-content: center;
    }
    .why-type{
        flex-direction: column !important;
        .title{
            text-align: center !important;
            padding-top: 20px !important;
            margin: auto !important;
        }
    }
    .project-section>.container>.d-flex{
        flex-direction: column !important;
        .project-all{
            text-align: left;
            margin: 1.5rem;
        }
    }
}

