.services-section {
    background-color: black;
    padding: 70px;
    display: flex;
    justify-content: center;
    .services-title {
        flex-direction: column;
    }
    .card-container {
        padding: 0px 10px;
    }
    .card-group {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    .card-subContainer {
        width: 45%;
    }
}